.updateBtn {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.updateBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

:global(.ui.modal) {
  >:global(.header).header {
    display: flex;
    justify-content: space-between;
  }
}

.btnImgLabel {
  margin: 0 0 0 10px;
}